<div class = "container">
  <h1><%= @type%> Averages by Pitcher </h1>
 <br />
    <div class="btn-group radio-row" role="group" aria-label="Basic radio toggle button group">
      <%= form_with url: "/change_pitch_type", method: :post do |f| %> 
      <div class="btn-check col" >
        <%= f.radio_button :type, 'Changeup' %> Changeup 
      </div>
      <div class="btn-check col" >
        <%= f.radio_button :type, 'Slider' %> Slider 
      </div>
      <div class="btn-check col" >
        <%= f.radio_button :type, 'Sinker' %> Sinker 
      </div>
      <div class="btn-check col" >
        <%= f.radio_button :type, 'Curveball' %> Curveball 
      </div>
      <div class="btn-check col" >
        <%= f.radio_button :type, 'Four-Seam Fastball' %> Four-Seam Fastball 
      </div>
      <div class="col">
        <%= f.text_field :name, placeholder: 'Enter Pitcher Name', class: "form-control" %>
      </div>
      <div class="btn">
    <%= f.submit "Filter Pitches/Pitchers" %>
      </div>
    <%end%>
    </div>

<%= render partial: "table", locals: {object: @averages} %>
</div>